*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  overscroll-behavior: contain;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0 50vh;
}

.Instraction_heading-start, .Instraction_heading-end  {
  text-align: center;
  font-size: 16px;
  color: hsl(0 0% 100% / .2);
  animation: Blink linear 1s infinite;
}

.Instraction_heading-start {
  margin-top: 10vh;
}

.Instraction_heading-end {
  padding-bottom : 10vh;
}

.Instraction_heading {
  color: hsl(0 0% 100% / .2);
  animation: Blink linear 1s infinite;
}

@keyframes Blink {
  0% {  
    color: hsl(0 0% 100% / .2);
  }
  50% {
    color: hsl(0 0% 100% / 1);
  }
  100% {  
    color: hsl(0 0% 100% / .2);
  }
}

.scroll_reveal {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.8em;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.scroll_reveal span {
  color: hsl(0 0% 100% / .2);
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}

.scroll_reveal h2 span {
  animation-range-start: 77.8vh;
  animation-range-end: 80vh;
}

.scroll_reveal p span {
  animation-range-start: 76vh;
  animation-range-end: exit 1vh;  
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

@media (max-width: 1024px) {
  body {
    padding: 0 2rem;
  }
  /* .scroll_reveal p span {
    animation-range-start: 75.4vh;
    animation-range-end: exit 15vh;  
  } */
}

@media (max-width: 768px) {
  body {
    padding: 0 2rem;
  }
}